
<div class="container col-lg-6">
    <h1 class="text-center">Connexion Admin</h1>
    <div class="card">
      <div class="card-body">
        <form  (ngSubmit)="authClt()"class="form-group">
          
          <div class="form-group">
            <label for="email">Email :</label>
            <input type="text" class="form-control" id="email"   required [(ngModel)]="auth.email"
              name="email">
          </div>
          <div class="form-group">
            <label for="pwd">Mot de pass:</label>
            <input type="password" class="form-control" id="pwd"  required [(ngModel)]="auth.pwd"
              name="pwd">
          </div>
          <button type="submit" class="btn btn-success">Se connecter</button> <button routerLink="/registeradmin" class="btn btn-success ml-2" >S'inscrire</button>
        </form>
      </div>
    </div>
    <div *ngIf="notfound" class="col-md-12 alert alert-warning mt-3">
      e-mail ou mot de passe non reconnu
      
        </div> 
  </div>
  
