

<div class="container col-lg-6">
    <h3  class="text-center">Modifier Produit </h3>
    <div class="card">
        <div class="card-body">
    <div  style="width: 400px;">
      <form (ngSubmit)="updateProduit()">
        <div class="form-group">
          <label for="name">Nom Produit</label>
          <input type="text" class="form-control" id="nomProduit" required [(ngModel)]="produit.nomProduit" name="nomProduit">
        </div>
    
        <div class="form-group"> 
          <label for="name">Prix  Produit</label>
          <input type="text" class="form-control" id="prixProduit" required [(ngModel)]="produit.prixProduit" name="prixProduit" >
        </div>
     
        <div class="form-group">
          <label for="name">Image Produit</label>
          <input *ngIf="!profilePicture" type="file" 
          (change)="handleProfilePictureInput($event.target.files)">         <img class="profile-picture" [src]="profilePicture">
        </div>
        <div class="form-group">
            <label for="name">Description</label>
            <input type="text" class="form-control" id="description_produit" required [(ngModel)]="produit.description_produit" name="description_produit">
          </div>
          
       
          <div class="form-group">
            <label for="name">Quantite stock Produit</label>
            <input type="text" class="form-control" id="quantite_stock" required [(ngModel)]="produit.quantite_stock" name="quantite_stock" >
          </div>
           
         <button type="submit"  class="btn btn-success">modifier</button>
      </form>
    </div>